<div class="donaciones">
  <h2>
    Estas donaciones van directamente a poder impulsar el crecimiento de
    nuestros beneficiaros.
  </h2>
  {{#each donacion.imgs}}
    <img src="{{this.src}}" alt="{{this.alt}}" />
  {{/each}}
</div>