<footer>
  <div>
    <p>Teléfono: +504 2234-5678</p>
    <p>WhatsApp +504 9673-0717</p>
    <p>Correo electrónico: info@cafehondureno.com</p>
    <p>© Todos los Derechos Reservados PW2-2024</p>
  </div>
</footer>