<header>
  <div class="logo">
    <img src="/imgs/logo.png" alt="Logo Café Honduras" class="logoimg" />
    <span>Café Honduras</span>
  </div>
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <nav class="nav-bar">
    <ul>
      <li>
        <a href="/inicio.html" class="active">Inicio</a>
      </li>
      <li>
        <a href="/negocios.html">Negocios</a>
      </li>
      <li>
        <a href="/galeria.html">Galeria</a>
      </li>
      <li>
        <a href="historia.html">Historia del Cafe</a>
      </li>
      <li>
        <a href="/acerca_de.html">Acerca de Nosotros</a>
      </li>
      <li>
        <a href="/eventos.html">Eventos</a>
      </li>
      <li>
        <a href="/faq.html">FAQ</a>
      </li>
      <li>
        <a href="/info_contacto.html">Contactenos</a>
      </li>
      <li>
        <a href="/ayuda.html">Como Ayudar</a>
      </li>
      <li>
        <a href="/donacion.html">Donaciones</a>
      </li>
    </ul>
  </nav>
</header>