.textMain {
  margin-top: 2rem;
  h2 {
    text-align: center;
    margin-top: 4rem;
    justify-content: center;
    font-size: 1.75rem;
  }
  p {
    padding: 40px;
    justify-content: center;
    font-size: 1.5rem;
    text-align: justify;
    color: @primary-text-color;
  }
}

.cafeimagen {
  img {
    width: 100%;
    height: 30vw;
    padding: 50px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
  }
}

.lowerImg {
  img {
    width: 93%;
    height: 60vh;
    object-fit: cover;
    display: block;
    margin: 2rem;
  }
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logoimg {
  width: 80px;
  height: auto;
  margin-right: 10px;
  padding-left: 0px;
}