.hamburger {
  display: none;
}

.nav-bar {
  z-index: 9;
  ul {
    display: flex;
    li a {
      display: block;
      color: white;
      font-size: 20px;
      padding: 10px 15px;
      border-radius: 50px;
      transition: 0.2s;
      margin: 0 5px;
    }
    a:hover {
      color: black;
      background-color: white;
    }
  }
}

@media only screen and (max-width: 1570px) {
  .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 20px;
    .line {
      width: 30px;
      height: 3px;
      background: @alt-color-2;
      margin: 6px 0;
    }
  }
  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: @alt-color-2;
    transition: 0.5s;
    overflow: hidden;
    ul {
      display: flex;
      width: fit-content;
      flex-wrap: wrap;
      margin: 25px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
    }
    li a {
      margin-bottom: 12px;
    }
  }
}

.nav-bar.active {
  margin: 0px auto;
  height: 90px;
  ul {
    opacity: 1;
  }
}

@media only screen and (max-width: 1292px) {
  .nav-bar.active {
    margin: 0px auto;
    height: 180px;
  }
}

@media only screen and (max-width: 474px) {
  .nav-bar.active {
    margin: 0px auto;
    height: 480px;
    ul {
      display: block;
    }
  }
}